.Statics{
    width:150px ;
    height:100px ;
    position: static;
    display: flex;
    justify-content: end;
    background-color: brown;

}


.Relatives{
    width: 500px;
    height:20px ;
    top:-50px ;
    left:170px ;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: bisque;
}
.Absolutes{
    width:145px ;
    height:30px ;
    position: absolute;
    right:30px ;
    bottom:45px ;
    background-color: red;
}
.Fixeds{
    width:180px ;
    height:120px ;
    position: fixed;
    background-color: aqua;
}
.Sticks{
    width:140px ;
    height:70px ;
    position: sticky;
    top: 10px;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid #ccc;
}

.Blocky{
    display: block;
    margin-bottom:50px ;
    gap: 50px;
    width:1340px ;
    height:780px ;
    background-color: cadetblue;
}

.Flexy{
    display:flex ;
    width:1340px ;
    height:500px ;
    justify-content: center;
    align-items: center;
    gap:50px ;
    background-color: blueviolet;
}